[Unit]
Description=Synchronize vdirs
After=network.target

[Timer]
#OnBootSec=5m
OnUnitActiveSec=15m
AccuracySec=5m

[Install]
WantedBy=timers.target
