- hosts: all
  tags: base_sys_pkgs
  tasks:
  - name: install base system packages
    package:
      state: present
      name:
      - bash-completion
      - git
      - man-pages
      - openssh
      - rxvt-unicode-terminfo
      - sudo
      - tmux
      - vi
      - vim
  - name: install base system packages
    package:
      state: present
      name: pkgfile
- hosts: all
  tags: base
  tasks:
  - name: check required variable
    assert:
      that: sudo_wheel_nopasswd is defined
  - name: add users
    user:
      state: present
      uid: 1000
      name: bbguimaraes
      group: users
      groups:
      - video
      - wheel
  - name: add SSH authorized key
    authorized_key:
      user: bbguimaraes
      state: present
      key: "{{ lookup('file', lookup('env','HOME') + '/.ssh/id_rsa.pub') }}"
  - name: enable sudoers.d
    lineinfile:
      state: present
      path: /etc/sudoers
      validate: visudo -cf %s
      line: '@includedir /etc/sudoers.d'
  - name: allow wheel to sudo
    copy:
      dest: /etc/sudoers.d/0_wheel
      owner: root
      group: root
      mode: 0440
      validate: visudo -cf %s
      content: |
        %wheel ALL=(ALL) ALL
    when: not sudo_wheel_nopasswd|bool
  - name: allow wheel to sudo without a password
    copy:
      dest: /etc/sudoers.d/0_wheel
      owner: root
      group: root
      mode: 0440
      validate: visudo -cf %s
      content: |
        %wheel ALL=(ALL) NOPASSWD: ALL
    when: sudo_wheel_nopasswd|bool
  - name: update pkgfile
    command:
      argv: ['pkgfile', '--update']
      creates: /var/cache/pkgfile/core.files
  - name: disable root SSH password login
    lineinfile:
      dest: /etc/ssh/sshd_config
      regexp: '^PermitRootLogin '
      line: 'PermitRootLogin prohibit-password'
  - name: enable and start sshd
    service:
      enabled: true
      state: started
      name: sshd
  - name: set timezone to utc
    timezone:
      name: UTC
      hwclock: UTC
  - name: check if the ntp service is enabled
    command: timedatectl show --property NTP --value
    register: rc
    changed_when: False
  - name: enable ntp service
    command: timedatectl set-ntp yes
    when: rc.stdout == "no"
