- hosts: desktops
  vars:
    home: '{{ ansible_env.HOME }}'
    src_dir: '{{ home }}/src'
    tmp_dir: "{{ ansible_env.TMPDIR|default('tmp') }}"
  tasks:
  - name: clone repositories
    git:
      repo: https://git.bbguimaraes.com/{{ item.0 }}.git
      dest: "{{ src_dir }}/{{ item.0 }}"
      version: "{{ item.1 }}"
      update: no
    loop:
    - ["custos", "master"]
    - ["impero", "master"]
    - ["subs", "lbry"]
  - name: build programs (make)
    make:
      chdir: "{{ src_dir }}/{{ item.0 }}"
    when: (src_dir + "/" + item.1) is not exists
    loop:
    - - subs
        subs
  - name: build programs (autotools)
    include_tasks: autotools.yaml
    vars:
      target: impero
      target_bin: impero
      dir: "{{ src_dir }}/impero"
  - name: build programs (premake)
    include_tasks: premake.yaml
    vars:
      target: "{{ item }}"
      target_bin: "{{ item }}"
      dir: "{{ src_dir }}/{{ item }}"
    loop:
    - custos
  - name: create home directories
    file:
      state: directory
      path: '{{ home }}/{{ item }}'
    loop:
    - .config/ccache
    - .config/gdb
    - .config/git
    - .config/i3
    - .config/i3status
    - .config/impero
    - .config/khal
    - .config/offlineimap
    - .config/ripgrep
    - .config/tig
    - .config/vdirsyncer
    - .local/bin
    - .local/share/subs
    - .local/share/systemd/user
    - .local/share/tig
    - .mutt
    - .vim/colors
    - .vim/spell
  - name: setup dotfile symlinks
    file:
      state: link
      src: '{{ src_dir }}/dotfiles/{{ item.0 }}'
      dest: '{{ home }}/{{ item.1 }}'
    loop:
    - ['ccache.conf',          '.config/ccache/ccache.conf']
    - ['gdb/init',             '.config/gdb/gdbinit']
    - ['git/tigrc',            '.config/tig/config']
    - ['i3/config',            '.config/i3/config']
    - ['i3/status',            '.config/i3status/config']
    - ['khal/khal.conf',       '.config/khal/config']
    - ['khal/vdirsyncer.conf', '.config/vdirsyncer/config']
    - ['khal/vdirsyncer.service',
       '.local/share/systemd/user/vdirsyncer.service']
    - ['khal/vdirsyncer.sh',   '.config/vdirsyncer/run.sh']
    - ['mutt/msmtprc',         '.msmtprc']
    - ['mutt/muttrc',          '.mutt/muttrc']
    - ['mutt/mailcap',         '.mutt/mailcap']
    - ['offlineimap/offlineimap@.service',
       '.local/share/systemd/user/offlineimap@.service']
    - ['redshift.conf',        '.config/redshift.conf']
    - ['ripgrep',              '.config/ripgrep/config']
    - ['user-dirs.dirs',       '.config/user-dirs.dirs']
    - ['vim/preto.vim',        '.vim/colors/preto.vim']
    - ['xorg/xinitrc',         '.xinitrc']
    - ['xorg/Xresources',      '.Xresources']
  - name: setup other symlinks
    file:
      state: link
      force: true
      src: '{{ home }}/{{ item.0 }}'
      dest: '{{ home }}/{{ item.1 }}'
    loop:
    - - src/custos/src/bin/release/custos
      - .local/bin/custos
