- hosts: desktops:&personal
  vars:
    home: '{{ ansible_env.HOME }}'
    src_dir: '{{ home }}/src'
  tasks:
  - name: clone proton-bridge
    git:
      repo: https://github.com/ProtonMail/proton-bridge.git
      dest: "{{ src_dir }}/proton-bridge"
      update: no
  - name: build proton-bridge
    make:
      chdir: "{{ src_dir }}/proton-bridge"
      target: build-nogui
    when: '(src_dir + "/proton-bridge/proton-bridge") is not exists'
  - name: create home directories
    file:
      state: directory
      path: '{{ home }}/{{ item }}'
    loop:
    - .config/mbsync
    - .local/share/mbsync
    - .local/share/nummi
  - name: setup dotfile symlinks
    file:
      state: link
      src: '{{ src_dir }}/dotfiles/{{ item.0 }}'
      dest: '{{ home }}/{{ item.1 }}'
    loop:
    - ['isync/mbsyncrc',      '.config/mbsync/mbsyncrc']
    - ['isync/mbsync@.service',
       '.local/share/systemd/user/mbsync@.service']
    - ['mutt/muttrc_proton', '.config/mutt/muttrc_proton']
    - ['proton/proton-bridge.service',
       '.local/share/systemd/user/proton-bridge.service']
  - name: setup other symlinks
    file:
      state: link
      src: '{{ home }}/{{ item.0 }}'
      dest: '{{ home }}/{{ item.1 }}'
    loop:
    - ['src/dotfiles/scripts/dev.sh', '.local/bin/d']
    - ['n/archive/money', '.local/share/nummi/db']
    - ['src/proton-bridge/proton-bridge', '.local/bin/proton-bridge']
  - name: enable and start services
    systemd:
      enabled: true
      state: started
      name: '{{ item }}'
      scope: user
      daemon_reload: true
    loop:
    - mbsync@bbguimaraes
    - proton-bridge
  - import_tasks: aur.yaml
    vars: {"pkg": "lbrynet-bin"}
  - import_tasks: aur.yaml
    vars:
      pkg: doxygen-lua
      dir: "{{ home }}/src/dotfiles/arch/doxygen-lua"
  - import_tasks: aur.yaml
    vars:
      pkg: vulkan-memory-allocator
      dir: "{{ home }}/src/dotfiles/arch/vulkan-memory-allocator"
