- when: (dir + "/" + target_bin) is not exists
  block:
  - name: create Makefile
    command:
      chdir: "{{ dir }}"
      argv: ["premake5", "gmake2"]
      creates: "{{ dir }}/Makefile"
  - name: execute make
    make:
      chdir: "{{ dir }}"
      params: config=release
