- hosts: work
  vars:
    home: '{{ ansible_env.HOME }}'
    src_dir: '{{ home }}/src'
  tasks:
  - name: setup dotfile symlinks
    file:
      state: link
      src: '{{ src_dir }}/dotfiles/{{ item.0 }}'
      dest: '{{ home }}/{{ item.1 }}'
    loop:
    - ['mutt/muttrc_redhat', '.mutt/muttrc_redhat']
    - ['offlineimap/redhat', '.config/offlineimap/redhat']
  - name: setup other symlinks
    file:
      state: link
      src: '{{ home }}/{{ item.0 }}'
      dest: '{{ home }}/{{ item.1 }}'
    loop:
    - ['n/comp/scripts/dev.sh', '.local/bin/d']
    - ['n/archive/work/redhat', 'rh']
    - ['rh/scripts/gotestsum.sh', '.local/bin/gotestsum']
    - ['rh/scripts/redhat.sh', '.local/bin/rh']
  - name: enable and start services
    systemd:
      enabled: true
      state: started
      name: '{{ item }}'
      scope: user
      daemon_reload: true
    loop:
    - offlineimap@redhat
  - name: make scripts in Nextcloud executable
    file:
      state: file
      path: "{{ home }}/{{ item }}"
      mode: "0755"
    loop:
    - n/comp/scripts/dev.sh
    - rh/scripts/gotestsum.sh
    - rh/scripts/redhat.sh
- hosts: desktops:&work:&arch
  name: aur pkgs
  tags: aur
  tasks:
  - import_tasks: aur.yaml
    vars: {"pkg": "gotags"}
  - import_tasks: aur.yaml
    vars: {"pkg": "golangci-lint"}
