[Service]
ExecStart=/home/bbguimaraes/src/dotfiles/isync/mbsync.sh --config /home/bbguimaraes/.config/mbsync/mbsyncrc %i
Restart=always

[Install]
WantedBy=default.target
