- hosts: all
  tags: base_sys_pkgs
  tasks:
  - name: install base system packages
    package:
      state: present
      name: grub os-prober
    when: ansible_os_family == 'Archlinux'
- hosts: all
  tags: base_pkgs
  vars:
    pkgs:
    - >- # dev
      ansible cloc cmake colordiff ctags doxygen emacs gdb go graphviz hub
      ipython podman rust tidy tig
    - >- # graphical
      chromium dmenu feh gimp i3lock i3status qpdfview redshift
      simplescreenrecorder scrot xdotool
    - >- # tools
      acpi discount ffmpeg inotify-tools moreutils msmtp mutt nextcloud-client
      offlineimap p7zip pass perf poppler ripgrep unrar strace units vdirsyncer
      weechat
    arch_pkgs:
    - >- # dev
      arm-none-eabi-gcc base-devel ccache clang dash devtools distcc encfs llvm
      opengl-man-pages python-virtualenv renderdoc shellcheck valgrind vim-ctrlp
    - >- # xorg
      mesa xorg xorg-xinit
    - >- # graphical
      blender celluloid firefox gnuplot i3-wm imagemagick inkscape kdenlive
      libreoffice-fresh picom qtcreator rxvt-unicode ttf-dejavu
    - >- # audio
      alsa-utils ardour audacity hydrogen mpv musescore pavucontrol pulseaudio
      pulseaudio-alsa pulseaudio-bluetooth
    - >- # tools
      android-tools bc bind-tools bluez bluez-utils jq khal ltrace lynx
      openbsd-netcat pacman-contrib pigz pixz rlwrap sshfs unzip words
      youtube-dl
    - >- # aurutils
      expac diffstat pacutils parallel wget
    - >- # wine
      lib32-mesa wine wine-mono
    - >- # nngn
      boost clinfo emscripten glew glfw-x11 glm intel-compute-runtime
      opencl-headers ocl-icd qt5-charts vulkan-intel vulkan-devel
    - >- # nngn tests
      freeglut glu
    fedora_pkgs:
    - >- # dev
      distcc distcc-server fuse-encfs gl-manpages libcurl-devel patch
      ShellCheck
    - >- # graphical
      compton i3 libreoffice rxvt-unicode-256color-ml
    - >- # tools
      bind-utils fuse-sshfs passmenu
    - >- # work
      krb5-workstation pyOpenSSL python-cryptography python-lxml
    fedora_groups:
    - '@Development tools'
  tasks:
  - name: enable multilib
    blockinfile:
      state: present
      path: /etc/pacman.conf
      marker: '# {mark} ANSIBLE MANAGED BLOCK MULTILIB'
      block: |
        [multilib]
        Include = /etc/pacman.d/mirrorlist
    when: ansible_os_family == 'Archlinux'
  - name: install base packages
    package:
      name: '{{ ((pkgs+arch_pkgs)|join(" ")).split(" ") }}'
    when: ansible_os_family == 'Archlinux'
  - name: install base packages
    package:
      name: '{{ ((pkgs+fedora_pkgs)|join(" ")).split(" ") + fedora_groups }}'
    when: ansible_os_family == 'RedHat'
  - name: enable/start services
    service:
      enabled: true
      state: started
      name: bluetooth
- hosts: all
  tags: aurutils
  vars:
    user: bbguimaraes
    aurutils_repo: /var/lib/pacman/aurutils
    aurutils_gpg_key: DBE7D3DD8C81D58D0A13D0E76BC26A17B9B7018A
  tasks:
  - when: ansible_os_family == 'Archlinux'
    block:
    - name: create local repository directory
      file:
        state: directory
        path: '{{ aurutils_repo }}'
        owner: '{{ user }}'
        group: users
    - name: unprivileged operations
      become: yes
      become_user: '{{ user }}'
      become_method: su
      block:
      - name: check if aurutils gpg key is imported
        command: gpg2 --list-keys '{{ aurutils_gpg_key }}'
        register: rc
        ignore_errors: true
        changed_when: false
      - name: import aurutils gpg key
        command: gpg2 --recv-keys '{{ aurutils_gpg_key }}'
        when: rc is failed
      - name: check if already installed
        command: pacman -Qqi aurutils
        register: aurutils_installed
        ignore_errors: true
        changed_when: false
      - name: download snapshot
        get_url:
          url: https://aur.archlinux.org/cgit/aur.git/snapshot/aurutils.tar.gz
          dest: /tmp/aurutils.tar.gz
        when: aurutils_installed is failed
      - name: extract files
        unarchive:
          src: /tmp/aurutils.tar.gz
          dest: /tmp
        when: aurutils_installed is failed
      - name: makepkg
        command:
          argv: makepkg
          chdir: /tmp/aurutils
          creates: /tmp/aurutils/aurutils-*.pkg.tar.xz
        when: aurutils_installed is failed
      - name: create local repository
        command:
          argv:
          - repo-add
          - '{{ aurutils_repo }}/aurutils.db.tar'
          creates: '{{ aurutils_repo }}/aurutils.db.tar'
    - name: install package
      command: pacman --noconfirm -U '{{ item }}'
      with_fileglob: /tmp/aurutils/aurutils-*.pkg.tar.xz
      when: aurutils_installed is failed
    - name: add local repository to pacman.conf
      blockinfile:
        state: present
        path: /etc/pacman.conf
        marker: '# {mark} ANSIBLE MANAGED BLOCK AURUTILS'
        block: |
          [aurutils]
          SigLevel = Optional TrustAll
          Server = file://{{ aurutils_repo }}
    - name: update pacman cache
      command: pacman -Sy
- hosts: all
  tags: misc
  tasks:
  - name: disable pulseaudio esound module
    replace:
      path: /etc/pulse/default.pa
      regexp: '^(load-module module-esound-protocol-unix)$'
      replace: '#\1'
- hosts: all
  tags: brightness
  tasks:
  - name: copy script
    copy:
      src: /home/bbguimaraes/n/comp/scripts/brightness.py
      dest: /usr/local/bin/brightness
      owner: root
      group: root
      mode: 0755
  - name: allow wheel to use it without a password
    copy:
      dest: /etc/sudoers.d/1_brightness
      owner: root
      group: root
      mode: 0440
      validate: visudo -cf %s
      content: |
        %wheel ALL=(ALL) NOPASSWD: /usr/local/bin/brightness
